/*common start*/
body{

}
/*common end*/
/*header start*/
<header{

}
.container {
	margin: 0 auto;
	width: 90%;
	border: 1px solid red;
}

.logo {
	width: 100%;
	boarder: 1px solid black;
}

.logo a{}
.logo a img{}

.menu {
	width: 50%;
	boarder: 1px solid black;
}
.menu ul{}
.menu ul li{}
.menu ul li a:hover{}
/*header end*/